<div>
  <div class="row">
    <div class="col-sm-8 mr-0 pr-0">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-5">
              <h4>Total {{yAxisValue}} - Transport Mode</h4>
            </div>
            <div class="col-sm-7">
              <form class="form-horizontal" [formGroup]="dateForm" novalidate>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <my-date-picker name="startDate" [options]="myDatePickerOptions" formControlName="startDate"></my-date-picker>
                  </div>
                  <div class="col-sm-1">
                    -
                  </div>
                  <div class="col-sm-4">
                    <my-date-picker name="endDate" [options]="myDatePickerOptions" formControlName="endDate"></my-date-picker>
                  </div>
                  <div class="col-sm-3">
                    <button type='button' (click)="fetchFilteredDataSet($event)">Go</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-bar-chart [dataSet]=completeTransportationData (yAxisModeEvent)="onYAxisUpdateEvent($event)"></app-bar-chart>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ml-0 mb-2 pl-0">
      <app-pie-chart [dataSet]=firstModeCompleteData></app-pie-chart>
    </div>
  </div>
  <div class="container" style="width:100%">
    <app-donut-chart [dataSet]=carTransportationData></app-donut-chart>
  </div>
</div>